name: Kirim Email Berita Harian

on:
  schedule:
    - cron: '0 7 * * *' # Jadwalkan untuk berjalan setiap hari pukul 7 AM UTC (14:00 WIB)
  push:
    branches:
      - main

jobs:
  fetch-and-send-news:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Ambil berita terkini
        id: fetch_news
        run: |
          response=$(curl -s -w "\n%{http_code}" "https://api.currentsapi.services/v1/latest-news" -G -d language=en -d apiKey=${{ secrets.CURRENTSAPI_KEY }})  
          echo "API Response: $response"  # Debugging step  
          http_code=$(echo "$response" | tail -n 1)  
          echo "HTTP Code: $http_code"  # Debugging step  
          echo "news_response=$(echo "$response" | head -n -1)" >> $GITHUB_ENV

      - name: Periksa status kode HTTP
        id: check_http_code
        run: |
          if [ "$http_code" -eq 200 ]; then  
            echo "Status: Success"  
          else  
            echo "Status: Failed"  
            echo "HTTP Code: $http_code"  
            echo "Response: ${{ env.news_response }}"  
            exit 1  
          fi

      - name: Periksa apakah respons adalah JSON valid
        id: check_json
        if: steps.check_http_code.outputs.Status == 'Success'
        run: |
          if echo ${{ env.news_response }} | jq empty 2>/dev/null; then  
            echo "JSON is valid"  
          else  
            echo "JSON is invalid"  
            echo "Response: ${{ env.news_response }}"  
            exit 1  
          fi

      - name: Parsing berita dan menyiapkan isi email
        id: prepare_email
        if: steps.check_json.outputs.result == 'JSON is valid'
        run: |
          news=$(echo ${{ env.news_response }} | jq -r '.news[] | "- $$.title) ($$.url))"')    
          echo "email_body=Berikut adalah berita terkini:\n\n$news" >> $GITHUB_ENV    
          echo "Email Body: ${{ env.email_body }}"  # Debugging step

      - name: Kirim email dengan berita
        uses: dawidd6/action-send-mail@v4
        if: steps.check_json.outputs.result == 'JSON is valid'
        with:
          server_address: smtp.gmail.com
          server_port: 465
          secure: true
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: Update Berita Harian
          to: aessaputra@yahoo.com
          from: ${{ secrets.MAIL_USERNAME }} # Gunakan alamat email yang sama dengan MAIL_USERNAME
          body: ${{ env.email_body }}
          convert_markdown: false # Matikan jika isi email tidak dalam format Markdown
